{% extends 'layouts/base.html' %}

{% block title %} Deposit{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="col-lg-12 col-xl-12">
    <div class="row">
      
      <div class="col-lg-2 m-2 mx-auto">
        <div class="card mx-auto">
          <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <i class="fas fa-landmark opacity-10"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Wallet Balance</h6>
            <span class="text-xs text-success"></span>
            <hr class="horizontal light my-3">
            <h5 class="mb-0">{{ user.loading.wallet }} </h5>
          </div>
        </div>
      </div>

      <div class="col-lg-2 m-2 mx-auto">
        <div class="card mx-auto">
          <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <i class="fas fa-landmark opacity-10"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Invested</h6>
            <span class="text-xs text-success"></span>
            <hr class="horizontal light my-3">
            <h5 class="mb-0">{{ user.loading.wallet }} </h5>
          </div>
        </div>
      </div>

      <div class="col-lg-2 m-2 mx-auto">
        <div class="card mx-auto">
          <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <i class="fas fa-landmark opacity-10"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Deposit</h6>
            <span class="text-xs text-success"></span>
            <hr class="horizontal light my-3">
            <h5 class="mb-0">{{ user.loading.wallet }} </h5>
          </div>
        </div>
      </div>

      <div class="col-lg-2 m-2 mx-auto">
        <div class="card mx-auto">
          <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <i class="fas fa-landmark opacity-10"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Bonus Balance</h6>
            <span class="text-xs text-success"></span>
            <hr class="horizontal light my-3">
            <h5 class="mb-0">{{ user.loading.bonus }} </h5>
          </div>
        </div>
      </div>

      <div class="col-lg-4 m-2 mx-auto">
        <div class="card">
          <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved14.jpg');">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body position-relative z-index-1 p-3">
              <i class="fas fa-wifi text-white p-2"></i>
              <h5 class="text-white mt-4 mb-5 pb-2">***&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****</h5>
                <div class="d-flex">
                  <div class="d-flex">
                    <div class="me-4">
                      <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                      <h6 class="text-white mb-0">{{ user }}</h6>
                    </div>
                    <div>
                      <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                      <h6 class="text-white mb-0">11/24</h6>
                    </div>
                  </div>
                  <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                    <img class="w-60 mt-2" src="{{ ASSETS_ROOT }}/img/logos/mastercard.png" alt="logo">
                  </diV>
                </div>    
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-7 mt-4 mx-2">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">Billing Information</h6>
            <p class="text-inner text-sm text-secondary" >All deposit should be carried out through one of the deposit channels below.</p>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column row">
                  <h6 class="mb-3 text-sm">Auto generated Deposit Channel</h6>
                  <span class="mb-3 text-xs">Acc Name:<span class="text-dark font-weight-bold ms-sm-2 mx-2"> {{ request.user.aza.acc_name }} </span></span> 
                  <span class="mb-3 text-xs">Acc Number: <span class="text-dark ms-sm-2 font-weight-bold mx-2">{{ request.user.aza.acc_number }} </span></span>
                  <span class="mb-3 text-xs">Bank: <span class="text-dark ms-sm-2 font-weight-bold mx-2">{{ request.user.aza.bank_name }} </span></span>
                  <span class="mb-3 text-xs">Ref: <span class="text-dark ms-sm-2 font-weight-bold mx-2">{{ request.user.aza.ref }} </span></span>
                  <span class="mb-3 text-xs">Branch Code: <span class="text-dark ms-sm-2 font-weight-bold mx-2">{{ request.user.aza.code }} </span></span>
                </div>
                <!-- <div class="ms-auto text-end">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                </div> -->
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-5 mt-4">
        <div class="card h-100 mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Your Transaction's</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="far fa-calendar-alt me-2"></i>
                <small>23 - 30 March 2020</small>
              </div>
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Netflix</h6>
                    <span class="text-xs">27 March 2020, at 12:30 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                  - $ 2,500
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Apple</h6>
                    <span class="text-xs">27 March 2020, at 04:30 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 2,000
                </div>
              </li>
            </ul>
            <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">Yesterday</h6>
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Stripe</h6>
                    <span class="text-xs">26 March 2020, at 13:45 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 750
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">HubSpot</h6>
                    <span class="text-xs">26 March 2020, at 12:30 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 1,000
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Creative Tim</h6>
                    <span class="text-xs">26 March 2020, at 08:30 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 2,500
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-exclamation"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Webflow</h6>
                    <span class="text-xs">26 March 2020, at 05:00 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-dark text-sm font-weight-bold">
                  Pending
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
